.navIcons {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 5px 0;
    border-top: solid 5px #a4b45c;
    width: 100%;
}

.icon {
    padding: 20px 40px;
    background-color: #fff;
    border: none;
    background-position: center 10px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.icon:focus {
    outline: 0;
    border-bottom: solid 4px #a4b45c;
}

.icon:hover {
    transform: scale(1.15);
}

.infoIcon {
    background-image: url(../../assets/icons/info.svg);
} 

.scheduleIcon {
    background-image: url(../../assets/icons/schedule.svg);    
}

.pricingIcon {
    background-image: url(../../assets/icons/price.svg);    
}

.contactIcon {
    background-image: url(../../assets/icons/contact.svg);
}

.loginIcon {
    font-size: 16px * 1.618;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1e1e1e;
}
